.segment {
    background-color: #161D23;
    width: 100%;
    height: 900px;

    flex-direction: column;
    display: flex;

    padding: 15px;
    padding-inline: 5%;

    gap: 35px;
}

.divider {
    align-self: center;
    justify-self: center;
    display: flex;

    width: 90%;
    height: 5px;

    border: dashed 5px #2C343A;
}

.content {
    align-self: center;
    justify-self: center;
    align-items: center;

    background-color: #2C343A;
    flex-direction: column;
    display: flex;
    height: 95%;
    width: 90%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    gap: 10px;
}

.project-container {
    align-self: center;
    justify-self: center;
    align-items: center;

    flex-direction: row;
    display: flex;
    height: 70%;
    width: 100%;
    gap: 20px;
    place-content: center;
}

.content-holder {
    align-self: center;
    justify-self: center;
    align-items: center;

    background-color: #2C343A;
    flex-direction: row;
    display: flex;
    height: 95%;
    width: 90%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}


.content-title {
    align-self: center;
    justify-self: center;
    display: block;
    font-size: 50px;
    padding-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

.profile {
    padding: 15px;
    display: flex;
    justify-content: top;
    align-items: center;
    width: 100%;
    height: 85%;
    flex-direction: column;
    gap:10px;
}

.profile h1 {
    font-family: 'Montserrat', sans-serif;
    color: #376ee5;
    font-size: 175%;;
}

.profile h2 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
    width: 70%;
}

.profile h3 {
    font-family: 'Montserrat', sans-serif;
    color: #d4d4d4;
    margin-bottom: 10px;
}

.profile-picture {
    border-radius: 300px;;
    width: 250px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.social-links {
    height: 15%;
    width:100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.social-link {
    padding: 10px;
    width: 250px;
    height: 75px;
    margin: 10px;
    gap: 15px;
    display: flex;
    justify-self: center;
    text-align: center;
}

.social-link a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #2152BC;
    border-radius: 15px;
    width: 150px;;
}

.social-link a:hover {
    background-color: #234da8;
}

.social-link h3 {
    font-size: 20px;
    color: white;
    margin: 0;
    align-self: center;
}

.container-title {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    font-size: clamp(1rem, 2vw + 1rem, 2.7rem);

    border-radius: 10px;
    width: 350px; 
    height: 75px;
    margin-bottom: 30px;

    color: white;
}

.container-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    transition: all;
    padding-bottom: 10px;
}

.projects {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #343434;
    color: white;
    text-align: center;
}

.view-all {
    font-family: 'Montserrat', 'sans-serif';
    display: inline-block;
    background-color: #444;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;

    max-width: 60%;

    text-transform: uppercase;
    text-align: center;
}

.view-all:not(:hover) {
    transform: scale(1);
    background-color: #444;
    transition: .3s;
}

.view-all:hover {
    transform: scale(1.05);
    transition: .5s;
    background-color: #555;
}

.skills {
    padding: 20px;
    padding-inline: 10%;
    text-align: center;
    background-color: #2C343A;
    color: white;
    height: 100%;
}

.skill-card {
    list-style: none;
    background-color: #161D23;
    padding: 5px;
    border-radius: 10px;
    width: 220px;
    height: 220px;
    text-align: center;
    font-size: 25%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    margin-bottom: 25px;
}

.skill-card img {
    justify-self: center;
    align-items: center;
    width: auto;
    height: 175px;
    padding: 10px;
}

.skill-card h3 {
    font-size: 500%;
}

@media screen and (max-width: 943px) {
    .intro {
        flex-direction: flex; /* Stack elements vertically */
        padding: 20px; /* Reduce padding for smaller screens */
        gap: 40px;
        height: 900px;
    }

    .socials-links {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: flex-start;
        border-radius: 20px;
        width: 275px;
        height: 400px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    .profile-picture {
        width: 175px; /* Reduce profile picture size for small screens */
    }

    .intro-text h1 {
        font-size: 350%;
    }

    .intro-text h2 {
        font-size: 200%;
    }
    
    .about-me p {
        font-size: 80%;
    }

    .profile-pic img {
        width: 150px; /* Smallest image size for very small screens */
    }

    .social-links img {
        width: auto; /* Smallest social icon size */
        height: 50px;
    }

    .social-link a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        background-color: #2152BC;
        border-radius: 15px;
        width: 60px;

        font-size: 10px;
    }

    .social-link a:hover {
        background-color: #234da8;
    }

    .social-link h3 {
        font-size: 10px;
        color: white;
        margin: 0;
        align-self: center;
    }
}

@media screen and (max-width: 607px) {
    .intro {
        flex-direction: column; /* Stack elements vertically */
        padding: 20px; /* Reduce padding for smaller screens */
        gap: 40px;
        height: 900px;
    }

    .socials {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-self: center;
        align-items: flex-start;
        border-radius: 20px;
        width: 275px;
        height: 400px;
        flex-direction: column;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    .profile-picture {
        width: 175px; /* Reduce profile picture size for small screens */
    }

    .intro-text h1 {
        font-size: 60px;
    }

    .intro-text h2 {
        font-size: 20px;
    }
    
    .about-me p {
        font-size: 12px;
    }

    .profile-pic img {
        width: 150px; /* Smallest image size for very small screens */
    }

    .social-links a img {
        width: 30px; /* Smallest social icon size */
    }

    .social-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        background-color: #2152BC;
        border-radius: 15px;
        width: 60px;

        font-size: 10px;
    }

    .social-link a:hover {
        background-color: #234da8;
    }

    .social-link h3 {
        font-size: 10px;
        color: white;
        margin: 0;
        align-self: center;
    }
}